.group-list-card {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  width: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  /* box-shadow: 0 0 5px #ccc; */
  /* transition: all 0.3s ease-in-out; */
  .group-list-img {
    width: auto;
    height: 98px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    img {
      width: 100px;
      height: 63px;

      border-radius: 4px 0 0 4px;
      object-fit: cover;
      object-position: center;
      /* height: 100%;
      border-radius: 50%; */
    }
  }
}

.group-infos-content {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.group-infos-content .group-infos-name {
  font-size: 15px;
  font-weight: bold;
}

.group-infos-content .group-infos-description {
  font-size: 12px;
  font-weight: 300;
}

/* .group-infos-content .group-infos-members {
  font-size: 1rem;
  font-weight: 300;
} */

.group-infos-bouton {
  width: 30%;
  align-self: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.group-btn-joingroup {
  width: auto;
  height: 5vh;
  padding: 5px;
  border: 1px solid #f49030;
  border-radius: 26px;
  background-color: #fff;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.single-group {
  h1 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
}
