.group-card {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  /* box-shadow: 0 0 5px #ccc; */
  /* transition: all 0.3s ease-in-out; */
}
.group-img {
  width: 25%;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
}

.group-img img {
  width: 100%;
  height: 17vh;
  object-fit: cover;
  /* height: 100%;
  border-radius: 50%; */
}

.group-infos-content {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.group-infos-content .group-infos-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.group-infos-content .group-infos-description {
  font-size: 1rem;
  font-weight: 300;
}

/* .group-infos-content .group-infos-members {
  font-size: 1rem;
  font-weight: 300;
} */

.btn-joingroup {
  width: 36%;
  height: 5vh;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #f49030;
  border-radius: 26px;
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
