.search-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 34vh; /* Utilise la hauteur totale de la vue */

  .search-bar-input {
    background: white;
    width: 81%; /* Utilise la largeur totale disponible */
    max-width: 500px; /* Limite la largeur maximale à 500px */
    border: 1px solid #ddd;
    border-radius: 100px;
    padding: 29px;
    color: #505060;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.15);
  }

  button {
    margin-top: 10px; /* Espacement entre le champ de recherche et les boutons */
  }

  #search {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 1em;
    position: absolute;
    right: 20px;

    svg {
      transition: transform 0.3s ease; /* Animation de transition pour l'icône de recherche */
    }
  }

  #search.active {
    &::before {
      content: "";
      display: block;
      height: 150px;
      width: 150px;
      background: deepskyblue;
      position: absolute;
      animation-name: appear;
      animation-duration: 0.7s;
      border-radius: 50%;
      animation-fill-mode: both;
      animation-delay: 0.2s;
    }
    svg {
      animation-name: click;
      animation-duration: 0.6s;
      animation-delay: 0.2s;
    }
  }
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    opacity: 0;
  }
}

@keyframes click {
  25% {
    transform: scale(0.9);
    fill: black;
    stroke: black;
  }
}
