.inputBox {
  position: relative;
  width: 300px;
}

.inputBox input {
  padding: 15px 20px;
  border: none;
  outline: none;
  width: 100%;
  background: transparent;
  border-radius: 5px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.25);
  font-size: 1em;
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 15px 20px;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.25);
  pointer-events: none;
  transition: 0.5s;
  letter-spacing: 0.1em;
}

.inputBox input:focus ~ span,
.inputBox input:valid ~ span {
  color: #1d2b3a;
  background: #00dfc4;
  border-radius: 2px;
  font-size: 0.75em;
  transform: translateX(20px) translateY(-7px);
  padding: 0 5px;
}
#toggle {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background: url("../../assets/img/eye-outline.svg");
  cursor: pointer;
}

#toggle.hide {
  background: url("../../assets/img/eye-off-outline.svg");
  color: red !important;
}
