.group-card-content {
  background: #ffffff;
  .group-card-image {
    width: auto;
    height: 250px;

    img {
      width: 100%;
      object-fit: cover;
      height: 250px;
    }
  }
  .group-card-name {
    margin: 10px 5px;
    padding: 3px;
    .group-card-name-title {
      font-size: 1.2rem;
      font-weight: bold;
      margin: 0;
      padding: 0;
    }
    .group-card-members {
      font-size: 1rem;
      font-weight: 300;
    }
  }
}

.group-card-description-infos {
  background: #ffffff;
  padding: 3px;
  margin: 10px 5px;
  border-radius: 4px;
}

// .group-img img {
//   width: 100%;
//   object-fit: none;
// }
