.group-card-content {
  .group-card-image {
    width: auto;
    height: 250px;

    img {
      width: 100%;
      object-fit: cover;
      height: 250px;
    }
  }
  .group-card-name {
    .group-card-name-title {
      font-size: 1.2rem;
      font-weight: bold;
      margin: 0;
      padding: 0;
    }
    .group-card-members {
      font-size: 1rem;
      font-weight: 300;
    }
  }
}
.group-card-description-infos {
  font-size: 1rem;
  font-weight: 300;
  background: #f5f5f5;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

// .group-img img {
//   width: 100%;
//   object-fit: none;
// }
