.create-post-content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  .create-post-container {
    width: 500px;
    height: 480px;
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
    transition: height 0.2s ease;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);

    .create-post-wrapper {
      display: flex;

      section {
        width: 500px;
        background: #fff;
      }

      .create-post {
        transition: margin-left 0.18s ease;

        header {
          font-size: 22px;
          font-weight: 600;
          padding: 17px 0;
          text-align: center;
          border-bottom: 1px solid #bfbfbf;
        }

        .create-post-form {
          margin: 20px 10px;
          :where(textarea, button) {
            width: 100%;
            outline: none;
            border: none;
          }

          .create-post-form-content {
            display: flex;
            align-items: center;

            img {
              cursor: default;
              max-width: 9%;
              border-radius: 54%;
              object-fit: cover;
              object-position: center;
              cursor: pointer;
            }

            .create-post-form-details {
              margin: -3px 0 0 12px;
              p {
                font-size: 17px;
                font-weight: 500;
              }
            }
          }
          .create-post-textarea {
            resize: none;
            font-size: 18px;
            margin-top: 30px;
            min-height: 100px;
            ::placeholder {
              color: #858585;
            }
            :focus::placeholder {
              color: #b3b3b3;
            }
          }

          button {
            height: 53px;
            margin-top: 4vh;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;
            color: #bcc0c4;
            cursor: no-drop;
            border-radius: 7px;
            background: #e2e5e9;
            transition: all 0.3s ease;
          }

          .create-post-textarea:valid ~ button {
            color: #fff;
            cursor: pointer;
            background: #4599ff;
          }
          .create-post-textarea:valid ~ button:hover {
            background: #1a81ff;
          }
        }
      }
    }
  }
  .create-post-container.active {
    height: 590px;

    .create-post {
      margin-left: -500px;
    }
  }
}
